* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
/* header  */
.header {
  width: 100%;
  background-color: #1c2534;
  color: white;
}

.header-block {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 15vmin;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.main-links-style {
  text-align: center;
  font-size: 2.5vmin;
  width: 10vmin;
  padding: 1vmin;
  gap: 1vmin;
}
.no-outline-navbar {
  text-decoration: none;
  color: white;
}
.Name {
  font-size: 4vmin;
  padding: 1vmin;
  width: 50%;
  font-weight: 800;
}

.Join-now-button {
  border: none;
  background-color: #6ebb2d;
  border-radius: 5vmin;
  width: 40vmin;
  height: 7vmin;
  font-size: 2.5vmin;
  padding: 1vmin;
  cursor: pointer;
}
/* Upcoming-Tour text */
.Upcoming-Tour {
  font-size: 3vmin;
  font-weight: 400;
  color: #7e7d7d;
  border-bottom: #7e7d7d solid 0.2vmin;
  padding: 1vmin 1vmin 1vmin 6vmin;
  display: flex;
  align-items: center;
  height: 6vmin;
  margin: 2vmin 10vmin 2vmin 10vmin;
}
/* about trips */
.Main-groups {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
/* Groups-container */
.Groups-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vmin 5vmin 3vmin 5vmin;
  margin: 1vmin 5vmin 1vmin 5vmin;
  font-weight: 900;
  min-height: 30vmin;
}
.Groups-container-text1 {
  font-size: 2.5vmin;
  padding: 1vmin;
  color: #a7a7a7;
}
.Groups-container-text2 {
  font-size: 6vmin;
  width: 40vmin;
  padding: 1vmin;
}
.Groups-container-button {
  max-width: 70vmin;
  color: #a7a7a7;
}
.Groups-container-button-text1 {
  font-size: 2.5vmin;
  margin-top: 3vmin;
}
.Groups-container-Book-now-button {
  margin-top: 3vmin;
  padding: 2vmin;
  background-color: #6ebb2d;
  width: 20vmin;
  border: none;
  height: 7vmin;
  border-radius: 5vmin;
  border: solid transparent 0.3vmin;
  font-size: 2vmin;
  cursor: pointer;
}
.no-outline-footer {
  text-decoration: none;
  color: black;
}
.green-Group-container {
  background-color: #6ebb2d;
}
.green-Group-container-text1 {
  color: white;
}
.green-Group-container-button-text1 {
  color: white;
}
.green-Group-container-button {
  background-color: white;
}
@media only screen and (max-width: 800px) {
  .Groups-container {
    flex-direction: column;
    margin: 1vmin 3vmin 1vmin 3vmin;
    gap: 0;
  }
  .Groups-container-text2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Groups-container-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Groups-container-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Groups-container-Book-now-button {
    width: 80%;
  }
}
/* footer container   */
/* footer container 1  */
.footer-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6ebb2d;
  color: white;
  height: 60vmin;
  text-align: center;
}
.footer-container1-text1 {
  font-size: 7vmin;
  padding: 3vmin;
}
.footer-container1-text2 {
  font-size: 3vmin;
}
.footer-container1-join-now-button {
  margin-top: 5vmin;
  width: 20vmin;
  height: 7vmin;
  border-radius: 5vmin;
  border: none;
  padding: 2vmin;
  font-size: 2.5vmin;
  cursor: pointer;
}
/* footer container 2  */
.footer-container2 {
  display: flex;
  justify-content: center;
  margin: 5% 7.5% 5% 7.5%;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-container2-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10vmin;
  /* justify-content: space-between; */
  width: 100%;
}
.footer-container2-part1-text1 {
  font-size: 6vmin;
  font-weight: 800;
  padding: 1vmin;
}
.footer-container2-part1-text2 {
  font-size: 3vmin;
  font-weight: 600;
  padding: 1vmin;
}
.footer-container2-part1-Join-Now-button {
  margin-top: 2vmin;
  width: 20vmin;
  height: 7vmin;
  border-radius: 5vmin;
  border: none;
  padding: 1vmin;
  font-size: 2.5vmin;
  background-color: #6ebb2d;
  cursor: pointer;
}
.footer-container2-part2 {
  width: auto;
  height: auto;
  flex-direction: column;
  text-align: left;
}
.footer-container2-part2-about-section {
  font-size: 2.5vmin;
  font-weight: 600;
  padding: 0.5vmin;
}
.footer-container2-part3-contact-info {
  font-size: 2.5vmin;
  font-weight: 600;
  padding: 0.5vmin;
  flex-direction: column;
  text-align: left;
}
.footer-container2-part3-contact-info-social i {
  font-size: 2.5vmin;
  color: white;
  background-color: black;
  padding: 0.3vmin;
  margin-right: 0.5rem;
}
.footer-container2-part3-contact-info-social {
  padding: 0.5vmin;
  display: flex;
}
.footer-container3 {
  margin: 0 7.5% 0 7.5%;
  text-align: center;
  font-size: 2.5vmin;
  height: 8vmin;
  line-height: 8vmin;
  border-top: solid #7e7d7d 0.2vmin;
}
@media (max-width: 768px) {
  .footer-container2 {
    flex-direction: column;
  }
  .footer-container2-part {
    gap: 5vmin;
  }
  .footer-container2-part1-Join-Now-button {
    width: 90%;
  }
}
