.main-signINUP {
  display: flex;
  justify-content: center;
  margin-top: 15vmin;
}
.main-signINUP-container {
  padding: 5vmin 15vmin 5vmin 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6dfdf;
}
.Sign-in-text {
  font-size: 5vmin;
  font-weight: 700;
  margin: 2vmin;
}
.signUp-button,
.signIn-button {
  background-color: rgb(255, 13, 13);
  color: #fff;
  font-size: 2.3vmin;
  padding: 2vmin 7vmin;
  border-radius: 1vmin;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 2vmin;
  cursor: pointer;
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-input {
  background-color: #eee;
  border: solid black 0.1vmin;
  margin: 1.5vmin;
  padding: 2vmin;
  font-size: 2.5vmin;
  width: 60vmin;
  border-radius: 1vmin;
  box-sizing: border-box;
}
.enter-email-password {
  padding: 1vmin;
  font-size: 2.3vmin;
}
.forget-password {
  color: #333;
  text-decoration: none;
  font-size: 2vmin;
  margin: 1vmin;
  cursor: pointer;
}
.icons {
  text-decoration: none;
  font-size: 3vmin;
  margin: 1vmin;
  background-color: white;
  border: 0.1vmin solid black;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vmin;
  height: 7vmin;
}
@media (max-width: 820px) {
  .main-signINUP-container {
    width: 100%;
    padding: 5vmin;
  }
  .login-input {
    width: 80vmin;
  }
  .forget-password {
    font-size: 2.3vmin;
  }
}

@media (max-width: 500px) {
  .forget-password {
    font-size: 3vmin;
  }
}
