.header-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 92.5%;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vmin;
  color: white;
  z-index: 10;
  padding-left: 7.5%;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.Name {
  font-size: 4vmin;
  padding: 1vmin;
  font-weight: 800;
}

.menu-links,
.menu-link-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.main-links-style {
  text-align: center;
  font-size: 2.5vmin;
  padding: 1vmin;
  cursor: pointer;
}

.no-outline-navbar {
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
}

.Join-now-button {
  border: none;
  background-color: #6ebb2d;
  border-radius: 5vmin;
  height: 7vmin;
  font-size: 2.5vmin;
  padding: 1vmin 5vmin;
  cursor: pointer;
  color: white;
}

.menu-icon {
  font-size: 4vmin;
  cursor: pointer;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.profile-section-profile-label {
  font-size: 2.5vmin;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  top: 10vmin;
  right: auto;
  width: 10%;
  background-color: #333;
}
.main-links-style.Logout:hover {
  color: #ff5555;
  font-weight: bold;
}

.main-links-style :hover {
  font-weight: bolder;
}
@media (max-width: 1000px) {
  .menu-links {
    flex-direction: column;
    position: absolute;
    top: 12vmin;
    right: 0px;
    width: 25%;
    background-color: #333;
    display: none;
  }
  .menu-link-section {
    flex-direction: column;
    width: 100%;
  }
  .menu-links.open {
    display: flex;
  }
  .main-links-style {
    width: 100%;
    text-align: center;
    padding: 2vmin 0;
  }
  .Join-now-button {
    width: 100%;
    margin: 2vmin 0;
  }
  .menu-icon {
    display: block;
  }
  .dropdown-menu {
    position: relative;
    top: 0;
    width: auto;
  }
}
